<%layout("./layouts/boilerplate")%>
<link rel="stylesheet" href="/stylesheets/card.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="/stylesheets/percentage.css">





<div class="card"style="width:30em;">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <%soldier.images.forEach((image,i)=>{%>
        <div class="carousel-item <%=i===0?"active":""%>">
          <img src="<%=image.url%>" class="d-block w-100" alt="..."style="height:20em;width:25em">
        </div>
      <%})%>
      
      </div>
      <%if(soldier.images.length>1){%>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
      <%}%>
      
  </div>

</div>
</div>

<%const amountpercent=soldier.amount/50000%>
<div class="container">
  <div class="row">
    <div class="col">
      
    </div>
    <div class="col">
      <h1><%=soldier.name%></h1>
      <p><%=soldier.position%></p>
      <p><%=soldier.age%></p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p><%=soldier.causeofdeath%></p>
      <p><%=soldier.lifespan%></p>
      <p><%=soldier.dob%></p>
      <p><%=soldier.place%></p>

    </div>
    <div class="col">
      <p><%=soldier.amount%></p>
      <div class="progress-element">
  
        <div class="progress-container">
          <progress max="100" value="<%=amountpercent%>"><%=amountpercent%></progress>
        </div>
      </div>
      
      <div class="w3-light-grey">
        <div class="w3-container w3-green w3-center" style="width:90%"><%=amountpercent%></div>
      </div><br>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <p><%=soldier.acheivements%></p>
    </div>
    <div class="col">
      <p><%=soldier.family%></p>
    </div>
  </div>
</div>

<h1>here are payments</h1>
<p><%=soldier.payments.name%></p>


<%for(let payment of soldier.payments){%>
  <p><%=payment.name%></p>
  <p><%=payment.amount%></p>
  <%}%>

<div id="map"style="width: 400px;height: 300px;">
</div>






<form action="/soldiers/<%=soldier._id%>?_method=DELETE" method="POST"><button>delete</button></form>

<div class="mainscreen">
    <!-- <img src="https://image.freepik.com/free-vector/purple-background-with-neon-frame_52683-34124.jpg"  class="bgimg " alt="">--> 
      <div class="card">
        <div class="leftside">
          <img
            src="https://i.pinimg.com/originals/18/9d/dc/189ddc1221d9c1c779dda4ad37a35fa1.png"
            class="product"
            alt="Shoes"
          />
        </div>
        <div class="rightside">
          <form action="/soldiers/<%=soldier._id%>" method="POST">
            <h1>CheckOut</h1>
            <h2>Payment Information</h2>
            <p>Cardholder Name</p>
            <input type="text" class="inputbox" name="card[name]" required />
            <p>Card Number</p>
            <input type="number" class="inputbox" name="card[card_number]" id="card_number" required />

            <p>Card Type</p>
            <select class="inputbox" name="card[card_type]" id="card_type" required>
              <option value="">--Select a Card Type--</option>
              <option value="Visa">Visa</option>
              <option value="RuPay">RuPay</option>
              <option value="MasterCard">MasterCard</option>
            </select>
<div class="expcvv">

            <p class="expcvv_text">Expiry</p>
            <input type="date" class="inputbox" name="card[exp_date]" id="exp_date" required />

            <p class="expcvv_text2">CVV</p>
            <input type="password" class="inputbox" name="card[cvv]" id="cvv" required />

            <label for="amount"class="form-label">amount:</label>
            <input type="number" class="form-control"name="card[amount]"placeholder="amount"id="amount">
        </div>
            <p></p>
            <button type="submit" class="button">CheckOut</button>
          </form>
        </div>
      </div>
    </div>
  
    <script>
      const mapToken='<%-process.env.MAPBOX_TOKEN%>';
      const soldier=<%-JSON.stringify(soldier)%>
    </script>

   
  

   <script src="/javascripts/mapbox.js"></script>